* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  text-align: center;
  box-shadow: inset 3px 4px 10px #251903af;
  overflow: hidden;
  user-select: none;
}


/* user form */
.form {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 20px;
  border-radius: 2px solid;
}

input[type=text] {
  width: 200px;
}

form {
  width: 100%;
}

form > div {
  display: flex;
  gap: 1em;
}

 /* The switch - the box around the slider */

 .scale-container {
  position: absolute;
  right: 50px
 }

 .switch {
  position: relative;
  display: flex;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 133, 126);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(85, 60, 60);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(3, 133, 126);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* current weather */
.current-weather-container{
  /* placement */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: auto;

  /* sizing */
  padding: 50px;
  width: fit-content;
  height: auto;

  /* other */
  background: rgba(255, 255, 255, 0.425);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.current-condition-img {
  max-width: 100%;
  height: auto;
}

.current-location {
  font-size: .75rem;
}

.update {
  font-size: .85rem;
}


/* weekly forecast */
.forecast-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.card {
  border-radius: 5px;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.295);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.condition-img {
  max-width: 50%;
  height: auto;
}

.max-temp {
  font-size: 1.5rem;
}

.min-temp {
  font-size: 1.25rem;
  color: rgb(59, 59, 59);
}

.current-temp {
  font-size: 2rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px){
  .scale-container {
    position: absolute;
    top: 100px;
    right: 25px;
  }

  .scale-label {
    position: absolute;
    top: 0;
    right: 70px;
  };

  input[type=text] {
    height: 30px;
  }

  .current-weather-container {
    padding: 20px;
  }

  .forecast-container {
    display: flex;
    align-items: center;
    gap: 2em;
    overflow: hidden;
  }

  .card {
    height: fit-content;
    width: 150px;
    overflow: scroll;
  }
}
