*{
  padding: 0;
  border: 0;
}

:root {
  font-family: 'Roboto Condensed', sans-serif;
  --font-color: rgb(214, 214, 214);
}

body {
  overflow: hidden;
  display: block;
  color: var(--font-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* search bar */

form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form input {
  padding: 5px;
  border-radius: 15px;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
}

.current-weather-container > .current-location {
  font-size: 0.85rem;
}


.current-weather-container > .current-temp {
  font-size: 3rem;
}

.current-weather-container > .current-condition {
  color: rgb(59, 59, 59);
}

.current-weather-container > .current-forecast-container {
  display: flex;
  gap: 1em;
}

.current-weather-container > .update {
  font-size: .85rem;
}


/*  weekly forecast */
.forecast-container {
  display: flex;
  margin-bottom: 5%;
  gap: 2em;
  height: fit-content;
  overflow-x: auto;
  justify-content: center;
}

.forecast-container > .card {
  min-width: 200px;
  text-align: center;
  background-color: gray;
  border: 2px solid;

  background: rgba(51, 42, 42, 0.233);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.185);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.5rem;
}


/* metric slider - the box around the slider */

.scale-container {
  position: absolute;
  right: 50px
}

.switch {
  position: relative;
  display: flex;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* metric slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 133, 126);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(85, 60, 60);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgb(3, 133, 126);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* dynamic backgrounds */
.sunny {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.473), rgb(254, 166, 32), rgb(85, 51, 1));
  background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

.cloudy {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.473), rgb(0, 185, 223), rgb(1, 82, 99));
  background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

.rain {
  background: linear-gradient(to bottom right, rgb(111, 158, 194), rgb(10, 52, 85), rgb(0, 16, 27));
  background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

.snow {
  background: linear-gradient(to bottom right, rgb(250, 250, 250), rgb(102, 177, 216), rgb(48, 79, 95));
  background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

.mist {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.473), rgb(50, 58, 59), rgb(14, 46, 53));
  background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

.heavy {
  background: linear-gradient(to bottom right, rgb(114, 112, 112), rgb(119, 110, 156), #541c55);
  background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* MEDIA QUERIES */
@media only screen and (max-width: 680px) {
  .scale-container {
    position: absolute;
    top: 100px;
    right: 25px;
  }

  .scale-label {
    position: absolute;
    top: 0;
    right: 70px;
  }

  input[type=text] {
    height: 30px;
  }

  .forecast-container {
    justify-content: left;
  }

  .card {
    height: fit-content;
    width: 150px;
    overflow: scroll;
  }
} 